<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZBKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DD9D6131E27820D00CFA0A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD9D62C1E27820E00CFA0A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DD9D6371E27820E00CFA0A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
